#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

# Set device properties
on init
    exec u:r:vendor_set_device_prop:s0 -- /system/bin/set_device_prop
    setprop ro.sf.lcd_density ${ro.vendor.device.lcd_density}
