#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

firmware_directories /vendor/firmware_mnt/image/ /odm/firmware/

modalias_handling enabled

# IIO sensor char device permissions
/dev/iio:device*   0660  system  system
