type hal_samsung_camera_flashlight_default, domain, coredomain;
hal_server_domain(hal_samsung_camera_flashlight_default, hal_samsung_camera_flashlight)

type hal_samsung_camera_flashlight_default_exec, exec_type, system_file_type, file_type;
init_daemon_domain(hal_samsung_camera_flashlight_default)

binder_call(hal_samsung_camera_flashlight_default, servicemanager);
set_prop(hal_samsung_camera_flashlight_default, ext_flashlight_prop);
get_prop(hal_samsung_camera_flashlight_default, ext_flashlight_prop);
