hal_attribute(samsung_camera_flashlight)

# Binder IPC from client to server
binder_call(hal_samsung_camera_flashlight_client, hal_samsung_camera_flashlight_server)

add_service(hal_samsung_camera_flashlight_server, hal_samsung_camera_flashlight_service)
allow hal_samsung_camera_flashlight_client hal_samsung_camera_flashlight_service:service_manager find;

# Allow binder communication with system_app
binder_call(hal_samsung_camera_flashlight, system_app)
