#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.mi89xx.rc

# Input (ts_vkeys)
on property:ro.vendor.device.codename=wt88047
    setprop vendor.ts_vkeys.menu.x 160
    setprop vendor.ts_vkeys.menu.y 1344
    setprop vendor.ts_vkeys.menu.key_code 139
    setprop vendor.ts_vkeys.home.x 360
    setprop vendor.ts_vkeys.home.y 1344
    setprop vendor.ts_vkeys.home.key_code 172
    setprop vendor.ts_vkeys.back.x 570
    setprop vendor.ts_vkeys.back.y 1344
    setprop vendor.ts_vkeys.back.key_code 158
    setprop vendor.ts_vkeys.names menu,home,back

# Kernel module loading
on post-fs
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -s -d /vendor/lib/modules --all=/vendor/etc/modules.load.normal
    trigger start_all_remoteproc
