# USB - override pmOS HOST-only mode
# CONFIG_USB_DWC3_HOST is not set
CONFIG_USB_DWC3_DUAL_ROLE=y

# Panel
CONFIG_DRM_PANEL_HIMAX_HX8279=m

# Display power IC
CONFIG_REGULATOR_ISL98608=m

# Framebuffer console
# CONFIG_DRM_SIMPLEDRM is not set
# CONFIG_DRM_FBDEV_EMULATION is not set
# CONFIG_VT is not set
# CONFIG_VT_CONSOLE is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set

# Charger IC
CONFIG_CHARGER_BQ25890=y

CONFIG_S2MU004_MUIC_USB=y
CONFIG_FUEL_GAUGE_S2MU004=y
CONFIG_TYPEC=y
CONFIG_TYPEC_S2MM005=y




# Audio amplifiers
CONFIG_SND_SOC_TFA989X=y


CONFIG_BLK_DEV_LOOP_MIN_COUNT=64



CONFIG_USB_DWC3_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_USB_CONFIGFS_F_MTP=y
CONFIG_USB_CONFIGFS_F_PTP=y
CONFIG_USB_CONFIGFS_UEVENT=y
# CONFIG_USB_FUNCTIONFS is not set

ANDROID_USB_CONFIGFS_UEVENT=y

CONFIG_USB_GADGET=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_USB_LIBCOMPOSITE=y
#CONFIG_USB_U_SERIAL=y
#CONFIG_USB_F_SERIAL=y
#CONFIG_USB_G_SERIAL=y


MEMFD_ASHMEM_SHIM=y


CONFIG_TOUCHSCREEN_STM_FTS1BA90A=y


CONFIG_DEVFREQ_GOV_PERFORMANCE=y

# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y


# Memory debugging - identify shmem allocation sources

# CONFIG_DMABUF_DEBUG is not set
# CONFIG_DMABUF_SYSFS_STATS is not set

# CONFIG_TRANSPARENT_HUGEPAGE is not set

CONFIG_HZ=1000

# Disable Memory Debugging & Tracking
# CONFIG_DEBUG_KMEMLEAK is not set
# CONFIG_PAGE_OWNER is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_KFENCE is not set

# Disable Tracing & Profiling
# CONFIG_FTRACE is not set
# CONFIG_FUNCTION_TRACER is not set
# CONFIG_TRACING is not set
# CONFIG_KPROBES is not set
# CONFIG_KPROBE_EVENTS is not set

# Disable Unused Heavy Filesystems
# CONFIG_BTRFS_FS is not set


CONFIG_IIO_ST_LSM6DSX=m
CONFIG_IIO_ST_LSM6DSX_I2C=m
CONFIG_YAMAHA_YAS530=m
CONFIG_SX9324=m
CONFIG_CM3323=m

# Cameras
CONFIG_VIDEO_S5K4H5YC=m
CONFIG_VIDEO_S5K5E3YX=m

CONFIG_LEDS_KTD2692=y
CONFIG_VIDEO_DW9807_VCM=m